/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: white;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 40px; /* Adjust the size of the logo as needed */
    margin-right: 15px;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    transition: max-height 0.4s ease-out;
    max-height: 100px;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-item a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.navbar-item a:hover,
.navbar-item a:focus {
    background-color: #444;
    border-radius: 5px;
    outline: none; /* Remove default focus outline */
}

.navbar-item.active a {
    background-color: #555;
    border-radius: 5px;
}

/* Burger menu icon */
.navbar-burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-burger:focus {
    outline: none;
}

.navbar-burger span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s ease;
}

/* Burger menu accessible attribute */
.navbar-burger[aria-expanded="true"] span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

.navbar-burger[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
}

.navbar-burger[aria-expanded="true"] span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}

/* Mobile menu hidden by default */
.navbar-menu {
    display: flex;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
    }

    .navbar-menu.active {
        display: flex;
        max-height: 500px;
    }

    .navbar-burger {
        display: flex;
    }

    .navbar-item {
        margin: 10px 0;
    }
}